<div class="card">
  <div class="card-header">
    <h4 class="card-title">
      <span class="material-icons-outlined card-icon">emoji_objects</span
      >{{ cardDetails.Name }}
    </h4>
  </div>
  <div class="card-body">
    <div class="card-status">
      <span class="badge badge-primary">{{ cardDetails.Status }}</span>
    </div>
    <p class="card-text">
      {{ cardDetails.Description }}
    </p>

    <div class="card-info">
      <div class="row mb-2">
        <div class="col-md-6">
          <img class="ico" src="../../../assets/img/ico01.png" alt="" />
          budget:
        </div>
        <div class="col-md-6">{{ cardDetails.Budget }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6">
          <img class="ico" src="../../../assets/img/ico02.png" alt="" />
          Consumed:
        </div>
        <div class="col-md-6">{{ cardDetails.Consumed }}</div>
      </div>
      <div class="row mb-2" *ngIf="pageType !== 'programs-list'">
        <div class="col-md-6">
          <img class="ico" src="../../../assets/img/ico03.png" alt="" />
          programs:
        </div>
        <div class="col-md-6">{{ cardDetails.Programs }}</div>
      </div>
      <div class="row mb-2">
        <div class="col-md-6">
          <img class="ico" src="../../../assets/img/ico04.png" alt="" />
          projects:
        </div>
        <div class="col-md-6">{{ cardDetails.Projects }}</div>
      </div>
    </div>
    <div class="border-top progress-bar-text mt-4 pl-3 pr-3 pt-3">
      <strong>80% Planned</strong>
      <strong class="float-right">55% Actual</strong>
      <div class="progress top-progress">
        <div
          class="progress-bar progress-top"
          role="progressbar"
          style="width: 80%;"
          aria-valuenow="55"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
        <div
          class="progress-bar progress-bottom"
          role="progressbar"
          style="width: 55%;"
          aria-valuenow="55"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
    </div>
  </div>
</div>
