.nav-cards {
  .nav-card-item {
    background-color: #4f008c;
    border-color: #4f008c;
    border-bottom: 4px solid #320059;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    display: flex;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    &:hover {
      background-color: #320059;
      border-color: #2c004e;
    }
    .nav-card-text {
      line-height: 64px;
      margin: 0;
      font-size: 1.5em;
      color: #fff;
      text-transform: capitalize;
      font-weight: 600;
    }
    img {
      margin-right: 20px;
    }
  }
}
.box {
  .box-title {
    button {
      color: #fff;
      font-size: 12px;
      padding: 0 0 0 8px;

      &.btn-bar {
        color: #212529;
      }
      &.btn-important {
        background: #ff0000;
      }
      &.btn-done {
        background: #4f008c;
      }
    }
  }
}
