<!-- sidebar-search  -->
<nav class="sidebar-wrapper">
  <div class="sidebar-menu">
    <ul>
      <li routerLinkActive="actived" (click)="closeProjectSubMenu()">
        <a [routerLink]="['/Home']">
          <img src="../../../../assets/img/home.png" alt="" />
          <span>Home</span>
        </a>
      </li>
      <li routerLinkActive="actived" (click)="closeProjectSubMenu()">
        <a [routerLink]="['/DashBorad']">
          <img src="../../../../assets/img/dashboard.png" alt="" />
          <span>My Dashboard</span>
        </a>
      </li>
      <li routerLinkActive="actived" (click)="closeProjectSubMenu()">
        <a [routerLink]="['/HealthIndex']">
          <img src="../../../../assets/img/healthindex.png" alt="" />
          <span>Health Index</span>
        </a>
      </li>
      <li routerLinkActive="actived" (click)="closeProjectSubMenu()">
        <a [routerLink]="['/Portfolios']">
          <img src="../../../../assets/img/portfolios.png" alt="" />
          <span>Portfolios</span>
        </a>
      </li>
      <li routerLinkActive="actived" (click)="closeProjectSubMenu()">
        <a [routerLink]="['/Programs']">
          <img src="../../../../assets/img/programs.png" alt="" />
          <span>Programs</span>
        </a>
      </li>
      <li
        routerLinkActive="actived"
        class="sidebar-dropdown"
        [ngClass]="{ active: projectsSubMenuActive }"
      >
        <a (click)="toggleProjectsSubMenu()">
          <img src="../../../../assets/img/projects.png" alt="" />
          <span>Projects</span>
        </a>
        <div class="sidebar-submenu">
          <ul>
            <li class="menu-title">Projects</li>

            <li [routerLink]="['/CreateProject']" routerLinkActive="actived">
              <a>
                <img src="../../../../assets/img/logo2.png" alt="" /> Project
                Creation</a
              >
            </li>
            <li>
              <a href="project-dash.html"
                ><img src="../../../../assets/img/logo2.png" alt="" /> Projects
                Cards</a
              >
            </li>
            <li [routerLink]="['/ProjectsList']" routerLinkActive="actived">
              <a
                ><img src="../../../../assets/img/logo2.png" alt="" /> Projects
                List</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!-- sidebar-menu  -->
