.page-container {
  padding: 0 30px;
  margin-top: 15px;
  .page-title {
    color: #500391;
    font-weight: 600;
    font-size: 24px;
    width: 100%;
  }

  .subtitle {
    color: #cdd0d1;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    display: block;
  }
}
