<div class="top-tools d-flex justify-content-end flex-grow-1">
  <app-search></app-search>
  <a class="dropdown">
    <img src="../../../../../assets/img/plus.png" alt="" />
  </a>
  <a class="dropdown">
    <img src="../../../../../assets/img/clock.png" alt="" />
  </a>
  <a class="dropdown">
    <img src="../../../../../assets/img/ticket.png" alt="" />
  </a>
  <a class="dropdown">
    <img src="../../../../../assets/img/calendar.png" alt="" />
  </a>
  <a class="dropdown">
    <img src="../../../../../assets/img/notification.png" alt="" />
  </a>
  <div class="dropdown">
    <span class="dropdown-toggle" href="#" data-toggle="dropdown">
      Muhammad <i class="fa fa-angle-down"></i>
      <img src="../../../../../assets/img/avatar5.png" alt="" />
    </span>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="Account-Profile.html">Profile</a>
      <a class="dropdown-item" href="#">LogOut</a>
    </div>
  </div>
</div>
