<div class="row mb-2">
  <div class="col-lg-8 col-md-12">
    <h1 class="page-title">
      Project UX enhancement title
      <span class="subtitle"
        >The project summary is a one page document that consists of separate
        overview, Each of these sections is required to be present and must be
        clearly defined.</span
      >
    </h1>
  </div>
  <div class="col-lg-4 col-md-12 text-right">
    <nav class="bcrumbstages mt-4">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Initiation</a></li>
        <li class="breadcrumb-item">
          <span class="material-icons text-pink">
            keyboard_arrow_right
          </span>
          <a href="#">Planning</a>
        </li>
        <li class="breadcrumb-item active">
          <span class="material-icons text-pink">
            keyboard_arrow_right
          </span>
          <a href="#">Execution</a>
        </li>
        <li class="breadcrumb-item no-active">
          <span class="material-icons text-pink">
            keyboard_arrow_right
          </span>
          <a href="#">Closing</a>
        </li>
      </ol>
    </nav>

    <ul class="list-unstyled list-unstyled-items list-unstyled-lg">
      <li><img src="../../../../assets/img/avatar1.png" alt="Avatar" /></li>
      <li><img src="../../../../assets/img/avatar2.png" alt="Avatar" /></li>
      <li><img src="../../../../assets/img/avatar3.png" alt="Avatar" /></li>
      <li><img src="../../../../assets/img/avatar1.png" alt="Avatar" /></li>
      <li><img src="../../../../assets/img/avatar2.png" alt="Avatar" /></li>
      <li><img src="../../../../assets/img/avatar3.png" alt="Avatar" /></li>
      <li class=""><span class="num">2+</span></li>
    </ul>
  </div>
</div>
