/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "STC-Bold";
  src: url("../src/assets/font/STC-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "STC-Regular";
  src: url("../src/assets/font/STC-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "STC-Regular";
  src: url("../src/assets/font/STC-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "STC-Regular";
}
