/* You can add global styles to this file, and also import other style files */
@import "./assets/style/font-awesome.min.css";
@font-face {
  font-family: "STC-Bold";
  src: url("../src/assets/font/STC-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "STC-Regular";
  src: url("../src/assets/font/STC-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "STC-Regular";
  src: url("../src/assets/font/STC-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "STC-Regular";
  font-size: 15px;
}
.text-pink {
  color: #ff375e !important;
}
.no-border {
  border: none !important;
}
th {
  font-weight: 500;
}
.btn.btnpurple {
  background: #4f008c;
  color: #fff;
  margin-left: 6px;
  font-size: 13px;
  margin-top: 5px;
}
.box {
  padding: 15px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.02), 0 1px 1px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
  margin-bottom: 25px;
  background: #fff;
  transition: box-shadow 0.5s ease-in-out;
  .box-title {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 20px;
    padding: 0 0 20px 0;
    font-size: 16px;
    color: #ff375e;
    line-height: 32px;
    font-weight: 500;
  }
  h5 {
    font-size: 14px;
    color: #777777;
  }
}
.badge.badge-light {
  font-size: 12px;
  padding: 3px 5px;
  top: 0;
  margin-left: 5px;
  display: inline-block;
  background: #fff;
  font-weight: 400;
}
tr td {
  font-size: 13px;
}
a,
a:link,
a:visited {
  color: #424242;
  cursor: pointer;
}
.high {
  color: #fe365e;
}
.low {
  color: #1bced8;
}
.medium {
  color: #212529;
}
